html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height: 1;
    padding-bottom: 5%;
}
#column {
	max-width: 90%;
	margin: 50px auto 0 auto;
	padding: 0 20px;
}

#column h3 {
	line-height: 200%;
	letter-spacing: 1px;
	font-size: 30px;
	font-weight: normal;
}

#column img {
	width: 100%;
	height: auto;
	margin-bottom: 5px;
}

#column ul {
	width: calc(100 + 20px);
	margin: 0 -10px;
	display: flex;
	flex-wrap: wrap;
}

#column li {
	padding: 0 10px 20px;
}

#column li a,
#column li a:visited {
	text-decoration: none;
	color: #111;
}

#column li p {
	font-size: 90%;
	margin-bottom: 3px;
}

#column li span {
	font-size: 80%;
	display: block;
}

.column02 li {
	width: calc(50% - 20px);
}

.column03 li {
	width: calc(33.3333% - 20px);
}

.column04 li {
	width: calc(25% - 20px);
}

.column05 li {
	width: calc(20% - 20px);
}


ul {
	list-style-type: none;
}



/*ãƒ­ã‚´ãƒ†ã‚­ã‚¹ãƒˆï¼ˆSAMPLEæ ªå¼ä¼šç¤¾ï¼‰*/
header #logo {
    margin: 0;
    letter-spacing: 0.1em;    /*æ–‡å­—é–“éš”ã‚’å°‘ã—ã ã‘åºƒãã¨ã‚‹è¨­å®š*/
    font-size: 2.2rem;        /*æ–‡å­—ã‚µã‚¤ã‚ºã€‚remã®å˜ä½ã«ã¤ã„ã¦ã¯ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆå†…ã®è§£èª¬ã‚’ãŠèª­ã¿ä¸‹ã•ã„ã€‚*/
}
header #logo a {
    text-decoration: none;
}

/*ãƒ­ã‚´ãƒ†ã‚­ã‚¹ãƒˆã‚’ç”»åƒã«ã—ãŸå ´åˆ*/
header #logo img {
    width: 400px;         /*ç”»åƒã®å¹…*/
    padding: 0px 20px;    /*ä¸Šä¸‹ã€å·¦å³ã¸ç©ºã‘ã‚‹ä½™ç™½*/
}



/*headerãƒ–ãƒ­ãƒƒã‚¯ï¼ˆãƒ­ã‚´ãŒå…¥ã£ãŸæœ€ä¸Šæ®µã®ãƒ–ãƒ­ãƒƒã‚¯ï¼‰
---------------------------------------------------------------------------*/
/*headerãƒ–ãƒ­ãƒƒã‚¯*/
header {
    text-align: center;		/*ä¸­èº«ã‚’ã‚»ãƒ³ã‚¿ãƒªãƒ³ã‚°ã™ã‚‹*/
    padding-top: 80px;		/*ä¸Šã«ç©ºã‘ã‚‹ä½™ç™½*/
    padding-bottom: 40px;		/*ä¸Šã«ç©ºã‘ã‚‹ä½™ç™½*/

}

/*ãƒ­ã‚´ãƒ†ã‚­ã‚¹ãƒˆï¼ˆSAMPLEæ ªå¼ä¼šç¤¾ï¼‰*/
header #logo {
    margin: 0;
    letter-spacing: 0.1em;    /*æ–‡å­—é–“éš”ã‚’å°‘ã—ã ã‘åºƒãã¨ã‚‹è¨­å®š*/
    font-size: 2.2rem;        /*æ–‡å­—ã‚µã‚¤ã‚ºã€‚remã®å˜ä½ã«ã¤ã„ã¦ã¯ãƒ†ãƒ³ãƒ—ãƒ¬ãƒ¼ãƒˆå†…ã®è§£èª¬ã‚’ãŠèª­ã¿ä¸‹ã•ã„ã€‚*/
}
header #logo a {
    text-decoration: none;
}

/*ãƒ­ã‚´ãƒ†ã‚­ã‚¹ãƒˆã‚’ç”»åƒã«ã—ãŸå ´åˆ*/
header #logo img {
    width: 400px;         /*ç”»åƒã®å¹…*/
    padding: 0px 20px;    /*ä¸Šä¸‹ã€å·¦å³ã¸ç©ºã‘ã‚‹ä½™ç™½*/
}


/*ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã®è¨­å®š
---------------------------------------------------------------------------*/
/*ãƒœãƒƒã‚¯ã‚¹å…¨ä½“ã®è¨­å®š*/
#menubar {
	max-width: 90%;
	margin: 50px auto 0 auto;
	/* padding: 0 200px; */
    padding-left: 5%;
    padding-right: 5%;
}
#menubar ul {
    list-style: none;
	text-align: center;
}

/*ãƒªãƒ³ã‚¯ãƒ†ã‚­ã‚¹ãƒˆã®è¨­å®š*/
#menubar a {
	display: block;
    text-decoration: none;
    font-size: 1.5rem;
	padding: 0 80px;	/*ä¸Šä¸‹ã€å·¦å³ã¸ã®ãƒ†ã‚­ã‚¹ãƒˆå†…ã«ã¨ã‚‹ä½™ç™½ã€‚*/
}

/*ãƒ¡ãƒ‹ãƒ¥ãƒ¼ï¼‘å€‹ã‚ãŸã‚Šã®è¨­å®š*/
#menubar li {
	display: inline-block;	/*ãƒ¡ãƒ‹ãƒ¥ãƒ¼ã‚’æ¨ªä¸¦ã³ã«ã™ã‚‹æŒ‡å®š*/
	text-align: center;		/*ãƒ†ã‚­ã‚¹ãƒˆã‚’ã‚»ãƒ³ã‚¿ãƒªãƒ³ã‚°*/
    position: relative;
}
#menubar li::before {
    content: "";
    background: #dfd4b7;	/*ä¸‹ç·šã®è‰²*/
    height: 3px;		/*ä¸‹ç·šã®é«˜ã•*/
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
	transition: 0.2s;	/*ã‚¢ãƒ‹ãƒ¡ãƒ¼ã‚·ãƒ§ãƒ³ã«ã‹ã‘ã‚‹æ™‚é–“*/
    transition-timing-function: ease-out;
	transform: scaleX(0);
}

/*ãƒžã‚¦ã‚¹ã‚ªãƒ³æ™‚*/
#menubar li:hover::before {
	transform: scaleX(1);
}




body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

img {
	-ms-interpolation-mode: bicubic;
}

#mp_h{
    font-size: 30px;
    text-align: center;
  }
#mp_p{
    margin: 0 auto;
    display: block;
    width: 25%;
}

#mono_img{
    width: 20%;
    text-align: center;
}

main {
    max-width: 90%;
    margin: 50px auto 0 auto;
    padding: 0 20px;
}

main h3 {
    line-height: 200%;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main h4 {
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#preview-img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: scale-down;
    display: block;
    border: gray solid 1px;
    border-radius: 0.5rem;
}
#preview-img[src=''] {
    display: none;
}
#preview-img[src=''] {
    display: none;
}
input {
    margin-bottom: 1rem;
}
input[type="file"] {
    display: none;
}

.btn-v2 {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
}

.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}
.upload-btn {
    font-size: 1.2rem;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    border-radius: 0.5rem;
}
.btn,
.upload-btn {
    color: #fff;
    background-color: #00a0ff;
    border-color: #00a0ff;
    margin-top: 1em;
}
.btn:hover,
.upload-btn:hover {
    color: #fff;
    background-color: #00d0ff;
    border-color: #00d0ff;
}

/*ロゴテキスト（SAMPLE株式会社）*/
header #logo {
    margin: 0;
    letter-spacing: 0.1em;
    /*文字間隔を少しだけ広くとる設定*/
    font-size: 2.2rem;
    /*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
}

header #logo a {
    text-decoration: none;
}

/*ロゴテキストを画像にした場合*/
header #logo img {
    width: 400px;
    /*画像の幅*/
    padding: 0px 20px;
    /*上下、左右へ空ける余白*/
}

/*headerブロック（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
    text-align: center;
    /*中身をセンタリングする*/
    padding-top: 80px;
    /*上に空ける余白*/
    padding-bottom: 40px;
    /*上に空ける余白*/

}

/*ロゴテキスト（SAMPLE株式会社）*/
header #logo {
    margin: 0;
    letter-spacing: 0.1em;
    /*文字間隔を少しだけ広くとる設定*/
    font-size: 3.0rem;
    /*文字サイズ。remの単位についてはテンプレート内の解説をお読み下さい。*/
}

header #logo a {
    text-decoration: none;
    color: #000;
}
